<%= content_for :nav do%>
  <%= render "shared/navbar" %>
<% end %>

<%= render "shared/cabecalho" %>
<%= render "shared/info_basica_foto" %>

<div class = "secao">
    <h2>Quais são meus objetivos na JUSTA?</h2>
</div>

<div class = "texto" align="justify">
    Na <strong>JUSTA</strong> meu objetivo é aprimorar meus conhecimentos em desenvolvimento Android.
    Sou um admirador de tecnologias mobile e como elas podem impactar na vida das pessoas,
    portanto aprender trabalhando com isso é um privilégio para mim.
</div>

<%= render "bom" %>

<%= render "shared/historico_profissional" %>
<%= render "shared/formacao_academica" %>
<%= render "shared/idiomas" %>