<nav class="navbar navbar-expand-lg sticky-top navbar-dark nav-p-color nav-shadow">
  <div class = "container">
    <!-- Brand e logo -->
    <a class="navbar-brand" href=<%= root_path%>>
      <img src=<%=asset_path('ricarth-foto-redonda.png')%> width="30" height="30" class="d-inline-block align-top" alt="Ricarth Lima">
    </a>
    
    <!-- Botão Sanduíche -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Tudo dentro dessa div vai sumir -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=<%=root_path + "#sobre"%>>Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= desafios_path %>>Desafios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%= livros_path %>>Livros Pessoais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=oqfev_path%>>O que fiz enquanto vivi?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=<%=wishlist_path%>>Lista de Presentes</a>
        </li>
      </ul>
      
      <ul class = "navbar-nav">
          <li class="nav-item">
            
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://sites.google.com/cin.ufpe.br/ricarthlima/p%C3%A1gina-inicial">Site Acadêmico</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="https://sites.google.com/cin.ufpe.br/ricarthlima/p%C3%A1gina-inicial">Site Acadêmico</a>
        </li>
        
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
            </button>
            <div class="mt-sm dropdown-menu dropdown-menu-right nav-p-color text-light" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item text-light" href=<%=gifts_path%>>Gifts</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-light" href=<%=edit_user_registration_path%>>Editar Perfil</a>
              <a class="dropdown-item text-light" data-method="delete" href=<%=destroy_user_session_path%>>Sair</a>
            </div>
          </div>
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href=<%= new_user_session_path%>>Login</a>
        </li>
        <% end %>
      </ul>
    </div>
    
  </div>
  
  
</nav>
