<%= content_for :nav do%>
  <%= render "navbar" %>
<% end %>

<img src = "/assets/books.png" class = "img-fluid">

<div class = "p-texto">
    <h1>Livros que li (ou estou tentando ler)</h1>
    
    Desde sempre eu que desejo aumentar minha bagagem de leitura. Pessoalmente de uns anos pra cá tenho venho me interessado por livros não-ficção, apesar de que
    ainda está nos meus planos ler classicos da ficção como Harry Potter, As Crônicas de Nárnia, Crônicas de Gelo e Fogo, Crônicas Saxônicas, outros de Douglas Adams ou
    Dan Brown (tais que eu só li um) etc. </p>
    
    Assim, inspirado no meu professor <a href = "http://viniciusgarcia.me/personalbooks/">Vinicius Garcia</a> (que se inspirou em outro professor meu,
    <a href = "https://sites.google.com/a/cin.ufpe.br/castor/personal/books">Fernando Castor</a>) vou passar a registrar minhas leituras. Para mim, isso serve tanto no sentido
    do que comento na página <a href = <%= oqfev_path %>>O que fiz enquanto vivi?</a>, quanto como registro do meu avanço na leitura. Espero um dia chegar no nível deles haha.
    <hr>
    <h2><center>Minhas 5 indicações!</center></h2>
    <hr>
    <h2 class = "my-2"><center>Lidos por ano</center></h2>
    <h3 class = "my-2">2019</h2>
	<ul>
		<li>O Milagre da Manhã (194 páginas), por Hal Elrod (18/02/2019 + 8 dias)</li>
        <li>O homem mais rico da Babilônia (157 páginas), por George S Clason (25/02/2019 + 23 dias)</li>
        <li>[Pocket Edition] Os 7 hábitos das pessoas altamente eficazes (77 páginas), por Stephen R. Covey (26/03/2019)</li>
	</ul>
	
    <h3 class = "my-2">2018 (10)</h3>
    <ul>
        <li>A Startup Enxuta (274 páginas), por Eric Ries (02/10/2018 + n dias)</li>
        <li>Algoritmos para Viver (529 páginas), por Brian Christian e Tom Griffiths (03/08/2018 + n dias)</li>
        <li>A Jornada do Escritor (484 páginas), por Christopher Vogler (03/08/2018 + n dias)</li>
        <li>As cinco linguagens do amor (216 páginas), por Gary Chapman </li>
        <li>De volta ao mosteiro (192 páginas), por James C. Hunter </li>
        <li>O caminho para independência financeira (77 páginas), por Diogo Pereira </li>
        <li>Cave Mais Fundo (310 páginas), por Joshua Harris</li>
        <li>2001 Uma odisséia no espaço (336 páginas), por Arthur C. Clark</li>
        <li>Pense como um artista (224 páginas), por Will Gompertz (2017 - 2018)</li>
        <li><strong>Audiolivro</strong> O pequeno príncipe (160 páginas), por Antoine de Saint-Exupéry </li>
    </ul>
    
    <h3 class = "my-2">Antes disso...</h3>
    <ul>
        <li>O poder do hábito, por Charles Duhigg.</li>
        <li>O monge e o executivo, por James C. Hunter.</li>
        <li>Como conquistar as pessoas, por Allan Pease e Barbara Pease.</li>
        <li>10 faces da inovação, por Thomas Kelley e Jonathan Littman.</li>
        <li>Você É Inteligente O Bastante Para Trabalhar No Google?, por William Poundstone.</li>
        <li>O homem mais rico da Babilônia, por George S Clason.</li>
    </ul>
    
</div>

<%= content_for :footer do%>
    <%= render "footer" %>
<% end %>