<%= content_for :nav do%>
  <%= render "pessoal/navbar" %>
<% end %>

<h1>Gerenciador de Presentes</h1>

<%= link_to 'New Gift', new_gift_path, class: "btn btn-success mt-sm" %>

<table class = "table table-responsive table-sm table-striped">
  <thead class = "thead-dark">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Wishlevel</th>
      <th>Price</th>
      <th>Description</th>
      <th>URL</th>
      <th>Ativo?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
        <td><center><img style = "max-height: 150px; max-width: 150px;" src = <%= gift.url_image %>></center></td>
        <td><center><strong><%= gift.name %></strong></center></td>
        <td><%= gift.wishlevel %></td>
        <td><%= gift.price %></td>
        <td><small><%= gift.description %></small></td>
        <td><small><a href = <%= gift.url_prod %>><%= gift.url_prod %></a></small></td>
        <td><%= gift.active %></td>
        <td><%= link_to 'Show', gift %></td>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

