<%= render "shared/navbar" %>
<%= render "shared/cabecalho" %>
<%= render "info_basica_foto" %>
<%= render "shared/info_basica_sensivel" %>

<div class = "secao">
    <h2>Quais são meus objetivos na LIVE?</h2>
</div>

<div class = "texto" align="justify">
    Na <strong>LIVE</strong> meu objetivo é aprimorar meus conhecimentos em desenvolvimento Engenharia de Software.
    Sou um admirador das novas tecnologias e como elas podem impactar na vida das pessoas, portanto aprender trabalhando com isso é um privilégio para mim.
    Tenho experiência com Prototipação, Bootstrap, CSS e integração de API.
</div>

<%= render "bom" %>

<%= render "shared/historico_profissional" %>
<%= render "shared/formacao_academica" %>
<%= render "shared/idiomas" %>
<%= render "shared/footer" %>