<!DOCTYPE html>
<html>
  <head>
    <!-- Configurações Básicas -->
    <title><%= yield :title %></title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Definição do Favicon -->
    <%= favicon_link_tag asset_path('ricarth-foto-redonda.png')%>
    <%= yield :favicon %>
    
    <!-- Importação do FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <!-- Importação de Fontes -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin|Oswald&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet"> 
    
    <!-- Outras configurações -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="google-site-verification" content="4BRndexraUUum8HPX_ljhRZtSDDtNTqzwxRlHCt6GWE" />
  </head>

  <body>
    <%= yield :fara_pages %>
    
    
    

    <%= yield :nav %>
    <div class = "container bg-branco no-padding">
      <% if notice %>
        <p class="alert alert-success">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </p>
      <% end %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
    
    <button class = "btn botao-flutuante" onclick = "window.location.href = 'mailto:rrsl@cin.ufpe.br';">
      <i class="fas fa-envelope"></i>
    </button>
    
    
    
  </body>
  

</html>
